<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2qFsbopPBiZXkC9Wh_pStDB0yn_xr0wU</string>
	<key>GCM_SENDER_ID</key>
	<string>741865556047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.efashionFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>efash-391423</string>
	<key>STORAGE_BUCKET</key>
	<string>efash-391423.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741865556047:ios:4f486a3c19e7097809c23a</string>
</dict>
</plist>